/* header stuff */

div.banner {
    display: block;
    margin: auto;
    font-family: 'Courier New', monospace;
    text-align: center;
    padding: 80px 0px 80px 0px;
    background-image: url('banner.jpg');
    background-size: cover;
    border-radius: 12px;
    background-position: center;
}

div.banner h1 {
    color: white;
    font-size: 56pt;
    display: inline-block;
    background-color: rgba(70, 70, 70, 0.85);
    border-radius: 25px;
    padding: 8px 20px;
}

div.nav-bar {
    background-color: #14213D;
    padding: 24px 0px 24px 0px;
    text-align: center;
    font-size: 20pt;
    color: #fff;
    font-family: Tahoma, sans-serif;
    border-radius: 12px;
}

div.nav-bar span.curr-page {
    font-weight: bold;
}

div.nav-bar span.nav-link {
    padding: 0px 8px;
}

div.nav-bar a {
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}

div.nav-bar img {
   float: right;
   width: 50px;
   margin: -8px 20px 0px 0px;
   display: inline-block;
}

div.nav-bar a:hover {
    color: black;
    background-color: #fca311;
    transition: 0.3s;
}

div.small-header {
    padding: 10px;
}

div.small-header img {
    width: 80px;
    float: left;
    margin-right: 30px;
}

div.small-header h1 {
    display: inline-block;
    font-family: 'Courier New', monospace;
    font-size: 34px;
}

img {
    border-radius: 12px;
}


/* general stuff */

p,label,.rad,option,input {
    font-family: Verdana, sans-serif;
}

p {
   font-size: 12pt;
}

h2 {
    font-family: 'Courier New', monospace;
    font-size: 32pt;
}

h3 {
    font-family: Verdana, sans-serif;
    font-size: 18pt;
}

h4 {
    font-family: 'Courier New', monospace;
    font-size: 16pt;
}

div.center-holder { text-align: center; }


/* region */

div.region {
    text-align: center;
}

div.region img {
    margin: auto;
    width: 85%;
    max-width: 1000px;
}


/* map stuff */

#cost {
    text-align: center;
}


/* button stuff */

input[type=button] {
    width: 60%;
    max-width: 200px;
    background-color: #FCA311;
    color: white;
    padding: 14px 20px;
    margin-left: 2%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 3%;
}

input[type=button]:hover {
    background-color: hsl(37, 98%, 47%);
    cursor: pointer;
}
