div.banner {
    display: block;
    margin: auto;
    font-family: sans-serif;
    text-align: center;
    padding: 130px 0px 130px 0px;
    background-image: url('chuttersnap.jpg');
    background-size: cover;
    border-radius: 10px;
    background-position: center;
}

div.banner h1 {
    color: white;
    font-size: 56pt;
    display: inline-block;
    background-color: rgba(70, 70, 70, 0.8);
    border-radius: 25px;
    padding: 8px 20px;
}
